body{
    background-color: rgb(95, 60, 8);
}

#calculator-body{
    background-color: rgb(221, 219, 219);
    margin: auto;
    padding-top:10px;
    width: 320px;
    height: 400px;
    border-radius: 5px 5px 30px 5px;
    box-shadow: 0 0 50px #333;
}

#topLine{
    height: 2px;
    width: 320px;
    background-color: rgb(221, 219, 219);
    margin-bottom: 10px;
    box-shadow: inset 0px 0px 5px #c7c7c7;
    
}

#bottomLine{
    height: 1px;
    width: 320px;
    background-color: rgb(209, 206, 206);
    margin-bottom: 10px;
    /* box-shadow: 50px 50px 50px rgb(0, 0, 0); */
}


#batteryHolder{
    width: 40px;
    padding-top: 40px;
}

#batteryLight{
    width: 5px;
    height: 5px;
    background-color: green;
    border-radius: 5px 5px 5px 5px;
    margin-left: 20%;
}

#battery{
    font-size: 6px;
    margin: auto;
    padding-top: 2px;
}

#screenDisplayBorder{
    display: flex;
    border: 1px solid grey;
    border-radius: 5px 5px 25px 5px;
    margin: auto;
    margin-bottom: 5px;
    width: 280px;
    height: 155px;
    background-color: grey;
    flex-direction: row;
    box-shadow: inset 0px 0px 5px #c7c7c7;
}

#screenDisplay{
    background-color: rgb(10, 146, 5);    
    width: 200px;
    height: 135px;
    /* margin: auto; */
}

#logo{
    
}

#buttonHolder{
    /* background-color: rgb(145, 145, 145); */
    margin: auto;
    width: 230px;
    flex-direction: row; 
    padding: 5px;
    padding-top: 25px;  
       
}

.buttons{
    margin-bottom: 3px;
    background-color: #8b0162;
    /* border: none; */
    color: white;
    width: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-color: #acacac;
    border-radius: 40px 40px 40px 40px;
} 
